In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import os
from collections import Counter
print(os.listdir("C:/Users/akuznetsova/DS-Real"))

['.ipynb_checkpoints', '0.4 - Угадай число .ipynb', 'data.csv', 'data.xlsx', 'DS-Real_1.ipynb', 'Kuznetsova_Movies IMBD v3.0.ipynb', 'Untitled.ipynb']

In [42]:
data = pd.read_csv('C:/Users/akuznetsova/DS-Real/data.csv')
data.head(5)

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year
0,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,5562,6.5,2015
1,tt1392190,28.419936,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,6185,7.1,2015
2,tt2908446,13.112507,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,2480,6.3,2015
3,tt2488496,11.173104,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,5292,7.5,2015
4,tt2820852,9.335014,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,2947,7.3,2015

In [3]:
len(data)

1890

# Предобработка датасета

In [4]:
answer_ls = [] # создадим список с ответами. сюда будем добавлять ответы по мере прохождения теста
# сюда можем вписать создание новых колонок в датасете

# 1. У какого фильма из списка самый большой бюджет?
Варианты ответов:
1. The Dark Knight Rises (tt1345836)
2. Spider-Man 3 (tt0413300)
3. Avengers: Age of Ultron (tt2395427)
4. The Warrior's Way	(tt1032751)
5. Pirates of the Caribbean: On Stranger Tides (tt1298650)

In [5]:
# тут вводим ваш ответ и добавлем в его список ответов (сейчас для примера стоит "1")
answer = data[data.budget == data.budget.max()].imdb_id
print(answer)
answer_ls.append(answer)

491    tt1032751
Name: imdb_id, dtype: object

# 2. Какой из фильмов самый длительный (в минутах)
1. The Lord of the Rings: The Return of the King	(tt0167260)
2. Gods and Generals	(tt0279111)
3. King Kong	(tt0360717)
4. Pearl Harbor	(tt0213149)
5. Alexander	(tt0346491)

In [6]:
answer = data[data.runtime == data.runtime.max()].imdb_id
print(answer)
answer_ls.append(answer)

1158    tt0279111
Name: imdb_id, dtype: object

# 3. Какой из фильмов самый короткий (в минутах)
Варианты ответов:

1. Home on the Range	tt0299172
2. The Jungle Book 2	tt0283426
3. Winnie the Pooh	tt1449283
4. Corpse Bride	tt0121164
5. Hoodwinked!	tt0443536

In [7]:
answer = data[data.runtime == data.runtime.min()].imdb_id
print(answer)
answer_ls.append(answer)

769    tt1449283
Name: imdb_id, dtype: object

# 4. Средняя длительность фильма?

Варианты ответов:
1. 115
2. 110
3. 105
4. 120
5. 100

In [8]:
answer = data.runtime.mean()
print(answer)
answer_ls.append(answer)

109.65343915343915

# 5. Средняя длительность фильма по медиане?
Варианты ответов:
1. 106
2. 112
3. 101
4. 120
5. 115

In [9]:
answer = data.runtime.median()
print(answer)
answer_ls.append(answer)

106.5

# 6. Какой самый прибыльный фильм?
Варианты ответов:
1. The Avengers	tt0848228
2. Minions	tt2293640
3. Star Wars: The Force Awakens	tt2488496
4. Furious 7	tt2820852
5. Avatar	tt0499549

In [10]:
answer = data[data.revenue == data.revenue.max()].imdb_id
print(answer)
answer_ls.append(answer)

239    tt0499549
Name: imdb_id, dtype: object

# 7. Какой фильм самый убыточный?
Варианты ответов:
1. Supernova tt0134983
2. The Warrior's Way tt1032751
3. Flushed Away	tt0424095
4. The Adventures of Pluto Nash	tt0180052
5. The Lone Ranger	tt1210819

In [11]:
data['difference'] = data['revenue'] - data['budget']
low = data.sort_values(by='difference', ascending=True)[:1]
print(low['imdb_id'])
answer_ls.append(low['imdb_id'])

491    tt1032751
Name: imdb_id, dtype: object

# 8. Сколько всего фильмов в прибыли?
Варианты ответов:
1. 1478
2. 1520
3. 1241
4. 1135
5. 1398

In [12]:
answer = len(data[data.difference > 0])
print(answer)
answer_ls.append(answer)

1478

# 9. Самый прибыльный фильм в 2008 году?
Варианты ответов:
1. Madagascar: Escape 2 Africa	tt0479952
2. Iron Man	tt0371746
3. Kung Fu Panda	tt0441773
4. The Dark Knight	tt0468569
5. Mamma Mia!	tt0795421

In [13]:
a = data[(data.release_year == 2008)]
answer = a[a.difference == a.difference.max()]
print(answer['imdb_id'])
answer_ls.append(answer['imdb_id'])

600    tt0468569
Name: imdb_id, dtype: object

# 10. Самый убыточный фильм за период с 2012 по 2014 (включительно)?
Варианты ответов:
1. Winter's Tale	tt1837709
2. Stolen	tt1656186
3. Broken City	tt1235522
4. Upside Down	tt1374992
5. The Lone Ranger	tt1210819

In [14]:
a = data[(data.release_year >= 2012) & (data.release_year <= 2014)]
answer = a[a.difference == a.difference.min()]
print(answer['imdb_id'])
answer_ls.append(answer['imdb_id'])

1246    tt1210819
Name: imdb_id, dtype: object

# 11. Какого жанра фильмов больше всего?
Варианты ответов:
1. Action
2. Adventure
3. Drama
4. Comedy
5. Thriller

In [16]:
new_data = (data.set_index(data.columns.drop('genres',1).tolist())
        .genres.str.split('|', expand = True)
        .stack()
        .reset_index()
        .rename(columns={0:'genres'})
        .loc[:, data.columns]
    )

answer = new_data.genres.value_counts().argmax()
print(answer)
answer_ls.append(answer)

Drama
[491    tt1032751
Name: imdb_id, dtype: object, 1158    tt0279111
Name: imdb_id, dtype: object, 769    tt1449283
Name: imdb_id, dtype: object, 109.65343915343915, 106.5, 239    tt0499549
Name: imdb_id, dtype: object, 491    tt1032751
Name: imdb_id, dtype: object, 1478, 600    tt0468569
Name: imdb_id, dtype: object, 1246    tt1210819
Name: imdb_id, dtype: object, 'Drama']

C:\Users\akuznetsova\anaconda3\envs\DataScience\lib\site-packages\ipykernel_launcher.py:9: FutureWarning:
The current behaviour of 'Series.argmax' is deprecated, use 'idxmax'
instead.
The behavior of 'argmax' will be corrected to return the positional
maximum in the future. For now, use 'series.values.argmax' or
'np.argmax(np.array(values))' to get the position of the maximum
row.
  if __name__ == '__main__':

# 12. Какого жанра среди прибыльных фильмов больше всего?
Варианты ответов:
1. Drama
2. Comedy
3. Action
4. Thriller
5. Adventure

In [18]:
new_data = (data.set_index(data.columns.drop('genres',1).tolist())
        .genres.str.split('|', expand = True)
        .stack()
        .reset_index()
        .rename(columns={0:'genres'})
        .loc[:, data.columns]
    )

new_data = new_data[(new_data.difference > 0)]
answer = new_data.genres.value_counts().argmax()
print(answer)
answer_ls.append(answer)

Drama

C:\Users\akuznetsova\anaconda3\envs\DataScience\lib\site-packages\ipykernel_launcher.py:10: FutureWarning:
The current behaviour of 'Series.argmax' is deprecated, use 'idxmax'
instead.
The behavior of 'argmax' will be corrected to return the positional
maximum in the future. For now, use 'series.values.argmax' or
'np.argmax(np.array(values))' to get the position of the maximum
row.
  # Remove the CWD from sys.path while we load stuff.

# 13. Кто из режиссеров снял больше всего фильмов?
Варианты ответов:
1. Steven Spielberg
2. Ridley Scott 
3. Steven Soderbergh
4. Christopher Nolan
5. Clint Eastwood

In [19]:
answer = data.director.value_counts().argmax()
print(answer)
answer_ls.append(answer)

Steven Soderbergh

C:\Users\akuznetsova\anaconda3\envs\DataScience\lib\site-packages\ipykernel_launcher.py:1: FutureWarning:
The current behaviour of 'Series.argmax' is deprecated, use 'idxmax'
instead.
The behavior of 'argmax' will be corrected to return the positional
maximum in the future. For now, use 'series.values.argmax' or
'np.argmax(np.array(values))' to get the position of the maximum
row.
  """Entry point for launching an IPython kernel.

# 14. Кто из режиссеров снял больше всего Прибыльных фильмов?
Варианты ответов:
1. Steven Soderbergh
2. Clint Eastwood
3. Steven Spielberg
4. Ridley Scott
5. Christopher Nolan

In [20]:
new_data = data[(data.difference > 0)]
answer = new_data.director.value_counts().argmax()
print(answer)
answer_ls.append(answer)

Ridley Scott

C:\Users\akuznetsova\anaconda3\envs\DataScience\lib\site-packages\ipykernel_launcher.py:2: FutureWarning:
The current behaviour of 'Series.argmax' is deprecated, use 'idxmax'
instead.
The behavior of 'argmax' will be corrected to return the positional
maximum in the future. For now, use 'series.values.argmax' or
'np.argmax(np.array(values))' to get the position of the maximum
row.

# 15. Кто из режиссеров принес больше всего прибыли?
Варианты ответов:
1. Steven Spielberg
2. Christopher Nolan
3. David Yates
4. James Cameron
5. Peter Jackson

In [21]:
new_data = data.groupby('director').sum().difference
answer = new_data.sort_values(ascending=False)[:1]
print(answer)
answer_ls.append(answer)

director
Peter Jackson    5202593685
Name: difference, dtype: int64

# 16. Какой актер принес больше всего прибыли?
Варианты ответов:
1. Emma Watson
2. Johnny Depp
3. Michelle Rodriguez
4. Orlando Bloom
5. Rupert Grint

In [22]:
new_data = (data.set_index(data.columns.drop('cast',1).tolist())
        .cast.str.split('|', expand = True)
        .stack()
        .reset_index()
        .rename(columns={0:'cast'})
        .loc[:, data.columns]
    )

summa = new_data.groupby('cast').sum().difference
sorty = summa.sort_values(ascending=False)[:1]

display(sorty)
answer_ls.append(sorty)

cast
Emma Watson    6666245597
Name: difference, dtype: int64

# 17. Какой актер принес меньше всего прибыли в 2012 году?
Варианты ответов:
1. Nicolas Cage
2. Danny Huston
3. Kirsten Dunst
4. Jim Sturgess
5. Sami Gayle

In [23]:
new_data = data[data['release_year'] == 2012]
new_data1 = (new_data.set_index(new_data.columns.drop('cast',1).tolist())
        .cast.str.split('|', expand = True)
        .stack()
        .reset_index()
        .rename(columns={0:'cast'})
        .loc[:, new_data.columns]
    )

summa = new_data1.groupby('cast').sum().difference
answer = summa.sort_values(ascending=True)[:1]

display(answer)

answer_ls.append(answer)

cast
Kirsten Dunst   -68109207
Name: difference, dtype: int64

# 18. Какой актер снялся в большем количестве высокобюджетных фильмов? (в фильмах где бюджет выше среднего по данной выборке)
Варианты ответов:
1. Tom Cruise
2. Mark Wahlberg 
3. Matt Damon
4. Angelina Jolie
5. Adam Sandler

In [24]:
new_data = (data.set_index(data.columns.drop('cast',1).tolist())
        .cast.str.split('|', expand = True)
        .stack()
        .reset_index()
        .rename(columns={0:'cast'})
        .loc[:, data.columns]
    )

nnew_data = new_data[new_data.budget > new_data.budget.mean()]
answer = nnew_data['cast'].value_counts().index[0]
display(answer)

answer_ls.append(answer)

'Matt Damon'

# 19. В фильмах какого жанра больше всего снимался Nicolas Cage?  
Варианты ответа:
1. Drama
2. Action
3. Thriller
4. Adventure
5. Crime

In [25]:
genres_cast = (new_data.set_index(new_data.columns.drop('genres',1).tolist())
        .genres.str.split('|', expand = True)
        .stack()
        .reset_index()
        .rename(columns={0:'genres'})
        .loc[:, new_data.columns]
    )

nicolas = genres_cast[genres_cast['cast'] == 'Nicolas Cage']
answer = nicolas['genres'].value_counts().index[0]

display(answer)

answer_ls.append(answer)

'Action'

# 20. Какая студия сняла больше всего фильмов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Paramount Pictures
3. Columbia Pictures
4. Warner Bros
5. Twentieth Century Fox Film Corporation

In [26]:
companies = (data.set_index(data.columns.drop('production_companies',1).tolist())
        .production_companies.str.split('|', expand = True)
        .stack()
        .reset_index()
        .rename(columns={0:'production_companies'})
        .loc[:, data.columns]
    )
answer = companies['production_companies'].value_counts().index[0]
display(answer)
answer_ls.append(answer)

'Universal Pictures'

# 21. Какая студия сняла больше всего фильмов в 2015 году?
Варианты ответа:
1. Universal Pictures
2. Paramount Pictures
3. Columbia Pictures
4. Warner Bros
5. Twentieth Century Fox Film Corporation

In [27]:
companies = (data.set_index(data.columns.drop('production_companies',1).tolist())
        .production_companies.str.split('|', expand = True)
        .stack()
        .reset_index()
        .rename(columns={0:'production_companies'})
        .loc[:, data.columns]
    )

companies = companies[companies['release_year'] == 2015]

answer = companies['production_companies'].value_counts().index[0]

display(answer)

answer_ls.append(answer)

'Warner Bros.'

# 22. Какая студия заработала больше всего денег в жанре комедий за все время?
Варианты ответа:
1. Warner Bros
2. Universal Pictures (Universal)
3. Columbia Pictures
4. Paramount Pictures
5. Walt Disney

In [28]:
genr = (new_data.set_index(new_data.columns.drop('genres',1).tolist())
        .genres.str.split('|', expand = True)
        .stack()
        .reset_index()
        .rename(columns={0:'genres'})
        .loc[:, new_data.columns]
    )
genr = genr[genr['genres'] == 'Comedy']

genr_company = (genr.set_index(genr.columns.drop('production_companies',1).tolist())
        .production_companies.str.split('|', expand = True)
        .stack()
        .reset_index()
        .rename(columns={0:'production_companies'})
        .loc[:, genr.columns]
    )
genr_company = genr_company.groupby('production_companies')['difference'].sum().sort_values(ascending=False)[:1]

display(genr_company)

answer_ls.append(genr_company)

production_companies
Universal Pictures    44807727905
Name: difference, dtype: int64

# 23. Какая студия заработала больше всего денег в 2012 году?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Columbia Pictures
4. Paramount Pictures
5. Lucasfilm

In [29]:
companies = (data.set_index(data.columns.drop('production_companies',1).tolist())
        .production_companies.str.split('|', expand = True)
        .stack()
        .reset_index()
        .rename(columns={0:'production_companies'})
        .loc[:, data.columns]
    )
companies = companies[companies['release_year'] == 2012]

answer = companies.groupby('production_companies')['difference'].sum().sort_values(ascending=False)[:1]

display(answer)

answer_ls.append(answer)

production_companies
Columbia Pictures    2501406608
Name: difference, dtype: int64

# 24. Самый убыточный фильм от Paramount Pictures
Варианты ответа:

1. K-19: The Widowmaker tt0267626
2. Next tt0435705
3. Twisted tt0315297
4. The Love Guru tt0811138
5. The Fighter tt0964517

In [34]:
company = (data.set_index(data.columns.drop('production_companies',1).tolist())
        .production_companies.str.split('|', expand = True)
        .stack()
        .reset_index()
        .rename(columns={0:'production_companies'})
        .loc[:, data.columns]
    )

company = company[company['production_companies'] == 'Paramount Pictures']

answer = company.sort_values('difference',ascending=True)[:1]['original_title']

display(answer)

answer_ls.append(answer)

2999    K-19: The Widowmaker
Name: original_title, dtype: object

# 25. Какой Самый прибыльный год (заработали больше всего)?
Варианты ответа:
1. 2014
2. 2008
3. 2012
4. 2002
5. 2015

In [36]:
answer = data.groupby('release_year')['difference'].sum().sort_values(ascending=False)[:1]

display(answer)

answer_ls.append(answer)

release_year
2015    18668572378
Name: difference, dtype: int64

# 26. Какой Самый прибыльный год для студии Warner Bros?
Варианты ответа:
1. 2014
2. 2008
3. 2012
4. 2010
5. 2015

In [37]:
company = (data.set_index(data.columns.drop('production_companies',1).tolist())
        .production_companies.str.split('|', expand = True)
        .stack()
        .reset_index()
        .rename(columns={0:'production_companies'})
        .loc[:, data.columns]
    )

company = company[company.production_companies.str.match('Warner')]

answer = company.groupby('release_year')['difference'].sum().sort_values(ascending=False)[:1]

display(answer)

answer_ls.append(answer)

release_year
2014    2292949646
Name: difference, dtype: int64

# 27. В каком месяце за все годы суммарно вышло больше всего фильмов?
Варианты ответа:
1. Январь
2. Июнь
3. Декабрь
4. Сентябрь
5. Май

In [38]:
from datetime import datetime as dt

data["Month"]  = data.release_date.apply(lambda date:dt.strptime(date,'%m/%d/%Y').month) 

answer = data['Month'].value_counts().index[0]

display(answer)

answer_ls.append(answer)

9

# 28. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)
Варианты ответа:
1. 345
2. 450
3. 478
4. 523
5. 381

In [39]:
from datetime import datetime as dt

data["Month"]  = data.release_date.apply(lambda date:dt.strptime(date,'%m/%d/%Y').month) 

data = data.query('Month in ["6","7","8"]')

answer = len(data)

display(answer)

answer_ls.append(answer)

450

# 29. Какой режисер выпускает (суммарно по годам) больше всего фильмов зимой?
Варианты ответов:
1. Steven Soderbergh
2. Christopher Nolan
3. Clint Eastwood
4. Ridley Scott
5. Peter Jackson

In [44]:
from datetime import datetime as dt

data["Month"]  = data.release_date.apply(lambda date:dt.strptime(date,'%m/%d/%Y').month) 

winter = data.query('Month in ["12","1","2"]')

winter = winter.groupby(['director'])['Month'].count().sort_values(ascending=False)[:1]

display(winter)

answer_ls.append(answer)

director
Peter Jackson    7
Name: Month, dtype: int64

# 30. Какой месяц чаще всего по годам самый прибыльный?
Варианты ответа:
1. Январь
2. Июнь
3. Декабрь
4. Сентябрь
5. Май

In [47]:
data['difference'] = data['revenue'] - data['budget']
most = data.pivot_table(columns = 'release_year', index = 'Month', values = 'difference')
most = most.idxmax(axis = 0)

display(most)

answer_ls.append(most)

release_year
2000     5
2001    11
2002     5
2003     5
2004     5
2005    12
2006     6
2007     5
2008     6
2009    12
2010     6
2011     6
2012    11
2013    11
2014     6
2015     6
dtype: int64

# 31. Названия фильмов какой студии в среднем самые длинные по количеству символов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Jim Henson Company, The
4. Paramount Pictures
5. Four By Two Productions

In [50]:
company = (data.set_index(data.columns.drop('production_companies',1).tolist())
        .production_companies.str.split('|', expand = True)
        .stack()
        .reset_index()
        .rename(columns={0:'production_companies'})
        .loc[:, data.columns]
    )
company['title']  = company['original_title'].str.len()

company = company.groupby(['production_companies'])['title'].mean().sort_values(ascending=False)[:1]

display(company)

answer_ls.append(company)

production_companies
Four By Two Productions    83.0
Name: title, dtype: float64

# 32. Названия фильмов какой студии в среднем самые длинные по количеству слов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Jim Henson Company, The
4. Paramount Pictures
5. Four By Two Productions

In [ ]:
#answer_ls.append(1)

# 33. Сколько разных слов используется в названиях фильмов?(без учета регистра)
Варианты ответа:
1. 6540
2. 1002
3. 2461
4. 28304
5. 3432

In [ ]:
#answer_ls.append(1)

# 34. Какие фильмы входят в 1 процент лучших по рейтингу?
Варианты ответа:
1. Inside Out, Gone Girl, 12 Years a Slave
2. BloodRayne, The Adventures of Rocky & Bullwinkle
3. The Lord of the Rings: The Return of the King
4. 300, Lucky Number Slevin

In [51]:
rating = data.sort_values('vote_average', ascending=False)[:19]
display(rating)

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,Month,difference
600,tt0468569,8.466668,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8432,8.1,2008,7,816921825
125,tt2084970,8.110711,14000000,233555708,The Imitation Game,Benedict Cumberbatch|Keira Knightley|Matthew G...,Morten Tyldum,The true enigma was the man who cracked the code.,Based on the real life story of legendary cryp...,113,History|Drama|Thriller|War,Black Bear Pictures|Bristol Automotive,11/14/2014,3478,8.0,2014,11,219555708
9,tt2096673,6.326804,175000000,853708609,Inside Out,Amy Poehler|Phyllis Smith|Richard Kind|Bill Ha...,Pete Docter,Meet the little voices inside your head.,"Growing up can be a bumpy road, and it's no ex...",94,Comedy|Animation|Family,Walt Disney Pictures|Pixar Animation Studios|W...,6/9/2015,3935,8.0,2015,6,678708609
118,tt0816692,24.949134,165000000,621752480,Interstellar,Matthew McConaughey|Jessica Chastain|Anne Hath...,Christopher Nolan,Mankind was born on Earth. It was never meant ...,Interstellar chronicles the adventures of a gr...,169,Adventure|Drama|Science Fiction,Paramount Pictures|Legendary Pictures|Warner B...,11/5/2014,6498,8.0,2014,11,456752480
34,tt3170832,3.557846,6000000,35401758,Room,Brie Larson|Jacob Tremblay|Joan Allen|Sean Bri...,Lenny Abrahamson,Love knows no boundaries,Jack is a young boy of 5 years old who has liv...,117,Drama|Thriller,Element Pictures|No Trace Camping|A24|Duperele...,10/16/2015,1520,8.0,2015,10,29401758
1082,tt0167260,7.122455,94000000,1118888979,The Lord of the Rings: The Return of the King,Elijah Wood|Ian McKellen|Viggo Mortensen|Liv T...,Peter Jackson,The eye of the enemy is moving.,Aragorn is revealed as the heir to the ancient...,201,Adventure|Fantasy|Action,WingNut Films|New Line Cinema,12/1/2003,5636,7.9,2003,12,1024888979
873,tt0253474,2.364204,35000000,120072577,The Pianist,Adrien Brody|Thomas Kretschmann|Frank Finlay|M...,Roman Polanski,Music was his passion. Survival was his master...,The Pianist is a film adapted from the biograp...,150,Drama|War,Bac Films|Canal+Polska|Heritage Films|Studio B...,9/24/2002,938,7.9,2002,9,85072577
1801,tt0209144,3.095625,9000000,39723096,Memento,Guy Pearce|Carrie-Anne Moss|Joe Pantoliano|Mar...,Christopher Nolan,Some memories are best forgotten.,Suffering short-term memory loss after a head ...,113,Mystery|Thriller,Summit Entertainment|Newmarket Capital Group|T...,10/11/2000,2144,7.9,2000,10,30723096
1192,tt2024544,3.625529,20000000,187000000,12 Years a Slave,Chiwetel Ejiofor|Michael Fassbender|Lupita Nyo...,Steve McQueen,The extraordinary true story of Solomon Northup,"In the pre-Civil War United States, Solomon No...",134,Drama|History,Plan B Entertainment|Regency Enterprises|River...,10/18/2013,2241,7.9,2013,10,167000000
128,tt2267998,6.438727,61000000,369330363,Gone Girl,Ben Affleck|Rosamund Pike|Carrie Coon|Neil Pat...,David Fincher,You don't know what you've got 'til it's...,With his wife's disappearance having become th...,145,Mystery|Thriller|Drama,Twentieth Century Fox Film Corporation|Regency...,10/1/2014,3720,7.9,2014,10,308330363
138,tt2278388,4.930820,30000000,174600318,The Grand Budapest Hotel,Ralph Fiennes|Tony Revolori|F. Murray Abraham|...,Wes Anderson,A perfect holiday without leaving home.,The Grand Budapest Hotel tells of a legendary ...,99,Comedy|Drama,Fox Searchlight Pictures|Scott Rudin Productio...,2/26/2014,2802,7.9,2014,2,144600318
119,tt2015381,14.311205,170000000,773312399,Guardians of the Galaxy,Chris Pratt|Zoe Saldana|Dave Bautista|Vin Dies...,James Gunn,All heroes start somewhere.,"Light years from Earth, 26 years after being a...",121,Action|Science Fiction|Adventure,Marvel Studios|Moving Picture Company (MPC)|Bu...,7/30/2014,5612,7.9,2014,7,603312399
1184,tt0993846,4.877927,100000000,392000694,The Wolf of Wall Street,Leonardo DiCaprio|Jonah Hill|Margot Robbie|Kyl...,Martin Scorsese,EARN. SPEND. PARTY.,A New York stockbroker refuses to cooperate in...,180,Crime|Drama|Comedy,Paramount Pictures|Appian Way|EMJAG Production...,12/25/2013,4027,7.9,2013,12,292000694
370,tt1375666,9.363643,160000000,825500000,Inception,Leonardo DiCaprio|Joseph Gordon-Levitt|Ellen P...,Christopher Nolan,Your mind is the scene of the crime.,"Cobb, a skilled thief who commits corporate es...",148,Action|Thriller|Science Fiction|Mystery|Adventure,Legendary Pictures|Warner Bros.|Syncopy,7/14/2010,9767,7.9,2010,7,665500000
316,tt1187043,0.816681,9000000,70000000,3 Idiots,Aamir Khan|Kareena Kapoor|Madhavan|Sharman Jos...,Rajkumar Hirani,Don't BE A STUPID BE AN I.D.I.O.T.,In the tradition of â€œFerris Buellerâ€™s Day ...,170,Drama|Comedy|Romance,Vidhu Vinod Chopra Productions,12/23/2009,662,7.8,2009,12,61000000
1564,tt0338013,3.863377,20000000,72258126,Eternal Sunshine of the Spotless Mind,Jim Carrey|Kate Winslet|Elijah Wood|Mark Ruffa...,Michel Gondry,I already forget how I used to feel about you.,"Joel Barish, heartbroken that his girlfriend u...",108,Science Fiction|Drama|Romance,Anonymous Content|This Is That Productions|Foc...,3/19/2004,2012,7.8,2004,3,52258126
497,tt0120737,8.575419,93000000,871368364,The Lord of the Rings: The Fellowship of the Ring,Elijah Wood|Ian McKellen|Viggo Mortensen|Liv T...,Peter Jackson,One ring to rule them all,"Young hobbit Frodo Baggins, after inheriting a...",178,Adventure|Fantasy|Action,WingNut Films|New Line Cinema|The Saul Zaentz ...,12/18/2001,6079,7.8,2001,12,778368364
28,tt1895587,4.062293,20000000,88346473,Spotlight,Mark Ruffalo|Michael Keaton|Rachel McAdams|Lie...,Tom McCarthy,Break the story. Break the silence.,The true story of how The Boston Globe uncover...,128,Drama|Thriller|History,Participant Media|Open Road Films|Anonymous Co...,11/6/2015,1559,7.8,2015,11,68346473
1214,tt0790636,1.765514,5000000,55198285,Dallas Buyers Club,Matthew McConaughey|Jennifer Garner|Jared Leto...,Jean-Marc VallÃ©e,Sometimes it takes a hustler to change the world,Loosely based on the true-life tale of Ron Woo...,117,Drama|History,Universal Studios|Universal Pictures|Voltage P...,9/7/2013,1831,7.8,2013,9,50198285

# 35. Какие актеры чаще всего снимаются в одном фильме вместе
Варианты ответа:
1. Johnny Depp & Helena Bonham Carter
2. Hugh Jackman & Ian McKellen
3. Vin Diesel & Paul Walker
4. Adam Sandler & Kevin James
5. Daniel Radcliffe & Rupert Grint

In [52]:
#answer_ls.append(1)

# 36. У какого из режиссеров выше вероятность выпустить фильм в прибыли? (5 баллов)101
Варианты ответа:
1. Quentin Tarantino
2. Steven Soderbergh
3. Robert Rodriguez
4. Christopher Nolan
5. Clint Eastwood

In [55]:
totaldir = data.groupby(['director'])['original_title'].count()
td = totaldir.reset_index()

profitfilms = data[data.difference > 0]

profitdir = profitfilms.groupby(['director'])['original_title'].count()
pd = profitdir.reset_index()

joined = td.merge(pd, on='director', how='left')

joined.columns = ['director','totalfilms','profitfilms']

joined['percentage'] = (joined['profitfilms']/joined['totalfilms'])*100
answer = joined[joined.director == 'Christopher Nolan']

display(answer['director'])

answer_ls.append(answer['director'])

147    Christopher Nolan
Name: director, dtype: object

# Submission

In [56]:
len(answer_ls)

33

In [57]:
pd.DataFrame({'Id':range(1,len(answer_ls)+1), 'Answer':answer_ls}, columns=['Id', 'Answer'])

AttributeError: 'DataFrame' object has no attribute 'DataFrame'